/* Estilos globales para el fondo y el cuerpo de la página */
html,body{
    background-image: url('imgs/fondo.jpg'); /* Establece una imagen de fondo. */
    background-size: cover; /* Hace que la imagen de fondo cubra todo el espacio disponible. */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita. */
    height: 100%; /* Establece la altura al 100% del área visible del navegador. */
    margin: 0; /* Elimina los márgenes predeterminados del cuerpo de la página. */
}


/* Estilos para la tarjeta que contiene el formulario de inicio de sesión */
.card{
    height: 390px; /* Establece la altura de la tarjeta. */
    margin-top: auto; /* Centra verticalmente la tarjeta en la parte superior. */
    margin-bottom: auto; /* Centra verticalmente la tarjeta en la parte inferior. */
    width: 400px; /* Establece el ancho de la tarjeta. */
    background-color: rgba(37, 129, 134, 0.7) !important; /* Establece el color de fondo con transparencia. */
}

/* Estilos para el contenedor principal del formulario de inicio de sesión */
.container{
    height: 100%; /* Establece la altura al 100% del área visible del navegador. */
    align-content: center; /* Alinea el contenido verticalmente en el centro del contenedor. */
}

/* Estilos para el mensaje dentro de la tarjeta */
.msg {
    color: rgb(253, 253, 249); /* Establece el color del texto. */
    font-size: 13px; /* Establece el tamaño de fuente. */
}











/* Estilos para una barra de navegación con clase "navbar" */
.navbar {
    background-color: #000; /* Establece el color de fondo de la barra de navegación. */
    color: #fff; /* Establece el color del texto en la barra de navegación. */
    display: flex; /* Establece el modelo de visualización en línea para los elementos de la barra de navegación. */
    justify-content: space-between; /* Distribuye el espacio entre los elementos de manera uniforme horizontalmente. */
    align-items: center; /* Alinea los elementos verticalmente en el centro. */
    padding: 10px 20px; /* Agrega relleno a la barra de navegación. */
    margin-bottom: 10px; /* Agrega un margen en la parte inferior de la barra de navegación. */
}

/* Estilos para un elemento con clase "tituloPagina" */
.tituloPagina {
    font-size: 24px; /* Establece el tamaño de fuente para el elemento con clase "tituloPagina". */
}

/* Estilos para elementos con clases "user-info" y "logout" */
.user-info,
.logout {
    display: flex; /* Establece el modelo de visualización en línea para los elementos con clases "user-info" y "logout". */
    align-items: center; /* Alinea los elementos verticalmente en el centro. */
}




/*--------------------------------Estilos de página home----------------------------*/
/* Estilos para un contenedor utilizado en otra parte de la página */
.container_home {
    width: 600px; /* Establece el ancho del contenedor. */
    margin: 0 auto; /* Centra horizontalmente el contenedor en la página. */
    padding: 20px; /* Agrega relleno alrededor del contenido del contenedor. */
    background-color: rgba(250, 250, 250, 0.9); /* Establece el color de fondo con transparencia. */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra alrededor del contenedor. */
}

